################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Backend/bin/Debug/net7.0/appsettings.Development.json
/Backend/bin/Debug/net7.0/appsettings.json
/Backend/.vs/Backend/v17
/Backend/bin/Debug/net7.0/Backend.deps.json
/Backend/bin/Debug/net7.0/Backend.dll
/Backend/bin/Debug/net7.0/Backend.exe
/Backend/bin/Debug/net7.0/Backend.pdb
/Backend/bin/Debug/net7.0/Backend.runtimeconfig.json
/Backend/bin/Debug/net7.0/Microsoft.AspNetCore.OpenApi.dll
/Backend/bin/Debug/net7.0/Microsoft.OpenApi.dll
/Backend/bin/Debug/net7.0/Swashbuckle.AspNetCore.Swagger.dll
/Backend/bin/Debug/net7.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/Backend/bin/Debug/net7.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/Backend/obj/Debug/net7.0/ref/Backend.dll
/Backend/obj/Debug/net7.0/refint/Backend.dll
/Backend/obj/Debug/net7.0/staticwebassets/msbuild.build.Backend.props
/Backend/obj/Debug/net7.0/staticwebassets/msbuild.buildMultiTargeting.Backend.props
/Backend/obj/Debug/net7.0/staticwebassets/msbuild.buildTransitive.Backend.props
/Backend/obj/Debug/net7.0/apphost.exe
/Backend/obj/Debug/net7.0/Backend.AssemblyInfo.cs
/Backend/obj/Debug/net7.0/Backend.assets.cache
/Backend/obj/Debug/net7.0/Backend.csproj.AssemblyReference.cache
/Backend/obj/Debug/net7.0/Backend.csproj.CopyComplete
/Backend/obj/Debug/net7.0/Backend.csproj.CoreCompileInputs.cache
/Backend/obj/Debug/net7.0/Backend.csproj.FileListAbsolute.txt
/Backend/obj/Debug/net7.0/Backend.dll
/Backend/obj/Debug/net7.0/Backend.GeneratedMSBuildEditorConfig.editorconfig
/Backend/obj/Debug/net7.0/Backend.genruntimeconfig.cache
/Backend/obj/Debug/net7.0/Backend.MvcApplicationPartsAssemblyInfo.cache
/Backend/obj/Debug/net7.0/Backend.MvcApplicationPartsAssemblyInfo.cs
/Backend/obj/Debug/net7.0/Backend.pdb
/Backend/obj/Debug/net7.0/staticwebassets.build.json
/Backend/obj/Backend.csproj.nuget.dgspec.json
/Backend/obj/Backend.csproj.nuget.g.props
/Backend/obj/project.assets.json
/Backend/obj/project.packagespec.json
/Backend/obj/project.nuget.cache
/Backend/obj/rider.project.restore.info
