.buttonInschrijven
{
    margin-left: 15px;
    width: 175px;
    height: 40px;
    border: 2px solid #0F132F;
    border-radius: 10px;
    font-size: 16px;
    transition: all 0.3s;
    background-color: #0F132F;
    color: #F9B123;
}

.buttonInschrijven:hover
{
    background-color: white;
    color: #0F132F;
}