.page
{
    width: 100%;
    height: auto;
    box-shadow: 0 0 6px -3px #111;
    background-color: #F9B123;
    display: flex;
}
.imageClass
{
    width: 100%;
    height: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: baseline;
    margin-top: 30px;
    
}
.img
{
    align-items: left;
    height: 100%;
    width: 90%;
    justify-content: left;
    margin: 25px ;
}
.text
{
    border-left: solid black 2px;
    width: 100%;
}
.titel
{
    font-weight: bold;
    margin: 20px ;
    text-align: center;
    align-items: center;
}

.tekst
{
    font-size: 16px;
    margin: 15px;
}

.buttonInschrijven
{
    margin-left: 15px;
    width: 175px;
    height: 40px;
    border: 2px solid #0F132F;
    background-color: white;
    border-radius: 10px;
    font-size: 16px;
    color: #0F132F;
    transition: all 0.3s;
}

.buttonInschrijven:hover
{
    background-color: #0F132F;
    color: #F9B123;
}