body {
    background-color: #f5af00;
}

header {
    height: 100px;
    width: 100%;
    padding: 5px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0f132f;
}

.headerLogo {
    height: 100px;
}

.headerLink {
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-weight: 700;
}

.headerLink:hover {
    text-decoration: underline;
    color: white;
}

.btn:hover {
    color: white;
}

.uitlog {
    margin-bottom: -1px;
}